Repository DataDog/datadog-api-client-rust, pull requests merged in 2024-09, with the labels that each got.

#276 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation, changelog/no-changelog

#283 Set more specific permissions for workflows.
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#300 Use `genemichaels` due to build error on latest
  .generator/src/generator/utils.py
  generate.sh
Labels: changelog/no-changelog

#306 Support DD_SITE env var and document server variable usage
  .generator/src/generator/templates/configuration.j2
  README.md
  src/datadog/configuration.rs
Labels: documentation, changelog/Changed
