Repository DataDog/datadog-api-client-rust, pull requests merged in 2024-03, with the labels that each got.

#34 Remove deprecated warnings
  .generator/src/generator/templates/model_simple.j2
  src/datadogV1/model/model_dashboard.rs
  src/datadogV1/model/model_dashboard_template_variable.rs
  src/datadogV1/model/model_dashboard_template_variable_preset_value.rs
  src/datadogV1/model/model_distribution_widget_definition.rs
  src/datadogV1/model/model_log_stream_widget_definition.rs
  src/datadogV1/model/model_monitor_options.rs
  src/datadogV1/model/model_monitor_summary_widget_definition.rs
  src/datadogV1/model/model_organization.rs
  src/datadogV1/model/model_organization_create_body.rs
  src/datadogV1/model/model_slo_history_monitor.rs
  src/datadogV1/model/model_slo_history_sli_data.rs
  src/datadogV1/model/model_tree_map_widget_definition.rs
  src/datadogV1/model/model_usage_summary_date.rs
  src/datadogV1/model/model_usage_summary_date_org.rs
  src/datadogV1/model/model_usage_summary_response.rs
  src/datadogV2/model/model_aws_cur_config_attributes.rs
  src/datadogV2/model/model_azure_uc_config.rs
  src/datadogV2/model/model_rule_attributes.rs
  src/datadogV2/model/model_security_monitoring_standard_rule_query.rs
  tests/scenarios/fixtures.rs
Labels: changelog/Added

#56 Add package metadata
  .gitignore
  Cargo.toml
Labels: changelog/no-changelog

#61 README updates
  README.md
Labels: documentation, changelog/no-changelog
