Repository DataDog/datadog-api-client-rust, pull requests merged in 2024-04, with the labels that each got.

#63 Build form data request body manually
  .generator/src/generator/templates/api.j2
  Cargo.toml
  LICENSE-3rdparty.csv
  src/datadogV1/api/api_organizations.rs
  src/datadogV2/api/api_api_management.rs
  src/datadogV2/api/api_organizations.rs
Labels: changelog/Fixed

#66 Documentation upgrades
  .generator/src/generator/templates/lib.j2
  Cargo.toml
  README.md
  src/lib.rs
Labels: documentation, changelog/Added

#47 Add UUID support
  .generator/conftest.py
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/example.j2
  Cargo.toml
  LICENSE-3rdparty.csv
  examples/v2_api-management_delete_open_api.rs
  examples/v2_api-management_get_open_api.rs
  examples/v2_api-management_update_open_api.rs
  license-tool.toml
  src/datadogV2/api/api_api_management.rs
  src/datadogV2/model/model_create_open_api_response_data.rs
  src/datadogV2/model/model_update_open_api_response_data.rs
Labels: changelog/Changed

#81 Update license list
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog

#82 Release automation
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASING.md
Labels: documentation, changelog/no-changelog
